In [1]:
import pyspark

from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession

sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

print(spark)
print(sc)

type(spark)

import pyspark.sql.functions as f

<pyspark.sql.session.SparkSession object at 0x00000248D6AAB188>
<SparkContext master=local[*] appName=pyspark-shell>

In [2]:
df1 = spark.read.csv("pune_home_prices.csv",header='true',inferSchema='true')

df1.show(5)

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|Super built-up  Area|       19-Dec|         Electron...|    2 BHK|Coomee |      1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|  Chikka Tirupath...|4 Bedroom|Theanmp|      2600|   5|      3|120.0|
|      Built-up  Area|Ready To Move|       Uttarahalli  |    3 BHK|   null|      1440|   2|      3| 62.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|      1521|   3|      1| 95.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|      1200|   2|      1| 51.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
only showing top 5 rows

In [3]:
#df = df.withColumn(col, func.ltrim(func.rtrim(df[col])))


df1.select("location",f.length("location"),f.length(f.ltrim(f.rtrim(df1.location)))).show(5)

+--------------------+----------------+------------------------------+
|            location|length(location)|length(ltrim(rtrim(location)))|
+--------------------+----------------+------------------------------+
|         Electron...|              37|                            24|
|  Chikka Tirupath...|              22|                            16|
|       Uttarahalli  |              15|                            11|
|  Lingadheeranahalli|              18|                            18|
|            Kothanur|               8|                             8|
+--------------------+----------------+------------------------------+
only showing top 5 rows

In [4]:
print("(",df1.count(),",", len(df1.columns),")\n")     ##Shape of table

df1.printSchema()

( 13320 , 9 )

root
 |-- area_type: string (nullable = true)
 |-- availability: string (nullable = true)
 |-- location: string (nullable = true)
 |-- size: string (nullable = true)
 |-- society: string (nullable = true)
 |-- total_sqft: string (nullable = true)
 |-- bath: integer (nullable = true)
 |-- balcony: integer (nullable = true)
 |-- price: double (nullable = true)

In [5]:
def spark_shape(self):
    return (self.count(), len(self.columns))

pyspark.sql.dataframe.DataFrame.shape = spark_shape
pyspark.sql.dataframe.DataFrame.chandan = spark_shape

In [6]:
print(df1.shape())
print(df1.chandan())

(13320, 9)
(13320, 9)

In [7]:
df1.select('area_type','availability','location').show(5)

+--------------------+-------------+--------------------+
|           area_type| availability|            location|
+--------------------+-------------+--------------------+
|Super built-up  Area|       19-Dec|         Electron...|
|          Plot  Area|Ready To Move|  Chikka Tirupath...|
|      Built-up  Area|Ready To Move|       Uttarahalli  |
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|
|Super built-up  Area|Ready To Move|            Kothanur|
+--------------------+-------------+--------------------+
only showing top 5 rows

In [8]:
df1.select('area_type').distinct().show()

+--------------------+
|           area_type|
+--------------------+
|      Built-up  Area|
|Super built-up  Area|
|          Plot  Area|
|        Carpet  Area|
+--------------------+

In [9]:
df1.groupBy('area_type').count().show()

+--------------------+-----+
|           area_type|count|
+--------------------+-----+
|      Built-up  Area| 2418|
|Super built-up  Area| 8790|
|          Plot  Area| 2025|
|        Carpet  Area|   87|
+--------------------+-----+

In [10]:
df1.groupBy('balcony').count().show()

+-------+-----+
|balcony|count|
+-------+-----+
|   null|  609|
|      1| 4897|
|      3| 1672|
|      2| 5113|
|      0| 1029|
+-------+-----+

In [11]:
df1.show(3)

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|Super built-up  Area|       19-Dec|         Electron...|    2 BHK|Coomee |      1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|  Chikka Tirupath...|4 Bedroom|Theanmp|      2600|   5|      3|120.0|
|      Built-up  Area|Ready To Move|       Uttarahalli  |    3 BHK|   null|      1440|   2|      3| 62.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
only showing top 3 rows

In [12]:
df2 = df1.select('location','size','total_sqft','bath','price')
df2.shape()

(13320, 5)

In [13]:
df2.show(5)

+--------------------+---------+----------+----+-----+
|            location|     size|total_sqft|bath|price|
+--------------------+---------+----------+----+-----+
|         Electron...|    2 BHK|      1056|   2|39.07|
|  Chikka Tirupath...|4 Bedroom|      2600|   5|120.0|
|       Uttarahalli  |    3 BHK|      1440|   2| 62.0|
|  Lingadheeranahalli|    3 BHK|      1521|   3| 95.0|
|            Kothanur|    2 BHK|      1200|   2| 51.0|
+--------------------+---------+----------+----+-----+
only showing top 5 rows

In [14]:
df2.filter("location is null").show()

+--------+-----+----------+----+-----+
|location| size|total_sqft|bath|price|
+--------+-----+----------+----+-----+
|    null|3 BHK|      1600|   3| 86.0|
+--------+-----+----------+----+-----+

In [104]:
print(df2.filter("location is null").count())

df2.filter("location is null").groupBy('location').count().show()

1
+--------+-----+
|location|count|
+--------+-----+
|    null|    1|
+--------+-----+

In [16]:
df2.filter("size is null").show(5)

+--------------+----+-----------+----+------+
|      location|size| total_sqft|bath| price|
+--------------+----+-----------+----+------+
|Sarjapur  Road|null|1200 - 2400|null|34.185|
|      IVC Road|null|2000 - 5634|null| 124.0|
|  Banashankari|null|       2400|null| 460.0|
|Sarjapur  Road|null|1200 - 2400|null|28.785|
|   Devanahalli|null|1500 - 2400|null|  46.8|
+--------------+----+-----------+----+------+
only showing top 5 rows

In [17]:
df2.where("size is null").groupBy('size').count().show()

+----+-----+
|size|count|
+----+-----+
|null|   16|
+----+-----+

In [18]:
df2.filter("bath is null").groupBy('bath').count().show()


df2.filter("bath is null or location is null").count()

+----+-----+
|bath|count|
+----+-----+
|null|   73|
+----+-----+

74

In [19]:
df3 = df2.dropna(thresh=3,subset=('location','size','bath'))  

df3.show(5)

+--------------------+---------+----------+----+-----+
|            location|     size|total_sqft|bath|price|
+--------------------+---------+----------+----+-----+
|         Electron...|    2 BHK|      1056|   2|39.07|
|  Chikka Tirupath...|4 Bedroom|      2600|   5|120.0|
|       Uttarahalli  |    3 BHK|      1440|   2| 62.0|
|  Lingadheeranahalli|    3 BHK|      1521|   3| 95.0|
|            Kothanur|    2 BHK|      1200|   2| 51.0|
+--------------------+---------+----------+----+-----+
only showing top 5 rows

In [20]:
df3.filter("bath is null or size is null or location is null").show()

+--------+----+----------+----+-----+
|location|size|total_sqft|bath|price|
+--------+----+----------+----+-----+
+--------+----+----------+----+-----+

In [21]:
print(df2.shape())
print(df3.shape())

(13320, 5)
(13246, 5)

In [22]:
df3.select('size').distinct().show()

+----------+
|      size|
+----------+
|    14 BHK|
| 5 Bedroom|
|     7 BHK|
|    16 BHK|
| 1 Bedroom|
| 9 Bedroom|
| 3 Bedroom|
|    27 BHK|
|      1 RK|
|10 Bedroom|
|    11 BHK|
|     4 BHK|
|18 Bedroom|
| 6 Bedroom|
|     2 BHK|
| 4 Bedroom|
| 2 Bedroom|
|     6 BHK|
|     8 BHK|
|    13 BHK|
+----------+
only showing top 20 rows

In [23]:
#df3.select('size').split(' ')[0]

import pyspark.sql.functions as f
#df3.select("location","size","total_sqft","bath","price",f.split("size"," ")[0].alias("bhk")).show(5)

df3.withColumn('bhk',f.split("size"," ")[0]).show(5)

+--------------------+---------+----------+----+-----+---+
|            location|     size|total_sqft|bath|price|bhk|
+--------------------+---------+----------+----+-----+---+
|         Electron...|    2 BHK|      1056|   2|39.07|  2|
|  Chikka Tirupath...|4 Bedroom|      2600|   5|120.0|  4|
|       Uttarahalli  |    3 BHK|      1440|   2| 62.0|  3|
|  Lingadheeranahalli|    3 BHK|      1521|   3| 95.0|  3|
|            Kothanur|    2 BHK|      1200|   2| 51.0|  2|
+--------------------+---------+----------+----+-----+---+
only showing top 5 rows

In [24]:
df3.shape()

(13246, 5)

In [25]:
df4=df3.select("location","size","total_sqft","bath","price",f.split("size"," ")[0].alias("bhk"))

In [26]:
df4.shape()

(13246, 6)

In [27]:
df4.select("bhk").distinct().show(5)

+---+
|bhk|
+---+
|  7|
| 11|
|  3|
|  8|
| 16|
+---+
only showing top 5 rows

In [28]:
df4.filter(df4.bhk>20).show()

+--------------------+----------+----------+----+-----+---+
|            location|      size|total_sqft|bath|price|bhk|
+--------------------+----------+----------+----+-----+---+
|2Electronic City ...|    27 BHK|      8000|  27|230.0| 27|
|         Munnekollal|43 Bedroom|      2400|  40|660.0| 43|
+--------------------+----------+----------+----+-----+---+

In [29]:
df4.select("total_sqft").distinct().show(5)

+----------+
|total_sqft|
+----------+
|      1436|
|      1090|
|       675|
|      1512|
|      3606|
+----------+
only showing top 5 rows

In [30]:
df4.select("total_sqft").filter(f.length(df4.total_sqft)>4).show(5)

+-----------+
| total_sqft|
+-----------+
|2100 - 2850|
|    1330.74|
|3067 - 8156|
|1042 - 1105|
|    1563.05|
+-----------+
only showing top 5 rows

In [31]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [32]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [33]:
from pyspark.sql.functions import col

In [34]:
pyspark.sql.dataframe.DataFrame.cstn = convert_sqft_to_num

In [35]:
is_float = spark.udf.register("is_float", is_float)
convert_sqft_to_num = spark.udf.register("convert_sqft_to_num", convert_sqft_to_num)

In [36]:
df4.filter(f.length(df4.total_sqft)>4).select("total_sqft",is_float(col("total_sqft"))).show(5)

+-----------+--------------------+
| total_sqft|is_float(total_sqft)|
+-----------+--------------------+
|2100 - 2850|               false|
|    1330.74|                true|
|3067 - 8156|               false|
|1042 - 1105|               false|
|    1563.05|                true|
+-----------+--------------------+
only showing top 5 rows

In [37]:
df4.filter(df4.location == 'Yelahanka').show(3)

+---------+---------+-----------+----+-----+---+
| location|     size| total_sqft|bath|price|bhk|
+---------+---------+-----------+----+-----+---+
|Yelahanka|    4 BHK|2100 - 2850|   4|186.0|  4|
|Yelahanka|1 Bedroom|        660|   1| 48.0|  1|
|Yelahanka|    3 BHK|       1600|   2| 75.0|  3|
+---------+---------+-----------+----+-----+---+
only showing top 3 rows

In [38]:
df4.filter(("location == 'Yelahanka' and bhk in ('4','2')")).show(5)

+---------+-----+-----------+----+-----+---+
| location| size| total_sqft|bath|price|bhk|
+---------+-----+-----------+----+-----+---+
|Yelahanka|4 BHK|2100 - 2850|   4|186.0|  4|
|Yelahanka|2 BHK|       1326|   2| 78.0|  2|
|Yelahanka|2 BHK|       1327|   2| 98.0|  2|
|Yelahanka|2 BHK|       1350|   2|55.55|  2|
|Yelahanka|2 BHK|       1035|   2| 45.0|  2|
+---------+-----+-----------+----+-----+---+
only showing top 5 rows

In [39]:
df4.filter(f.length("total_sqft")>7).show(4)

+------------------+-----+-----------+----+------+---+
|          location| size| total_sqft|bath| price|bhk|
+------------------+-----+-----------+----+------+---+
|         Yelahanka|4 BHK|2100 - 2850|   4| 186.0|  4|
|            Hebbal|4 BHK|3067 - 8156|   4| 477.0|  4|
|8th Phase JP Nagar|2 BHK|1042 - 1105|   2|54.005|  2|
|          Sarjapur|2 BHK|1145 - 1340|   2| 43.49|  2|
+------------------+-----+-----------+----+------+---+
only showing top 4 rows

In [40]:
df5=df4.select("location","size",convert_sqft_to_num(col("total_sqft")).alias("total_sqft"),"bath","price","bhk")

In [41]:
df5.show(3)

+--------------------+---------+----------+----+-----+---+
|            location|     size|total_sqft|bath|price|bhk|
+--------------------+---------+----------+----+-----+---+
|         Electron...|    2 BHK|    1056.0|   2|39.07|  2|
|  Chikka Tirupath...|4 Bedroom|    2600.0|   5|120.0|  4|
|       Uttarahalli  |    3 BHK|    1440.0|   2| 62.0|  3|
+--------------------+---------+----------+----+-----+---+
only showing top 3 rows

In [42]:
df5.filter(f.length("total_sqft")>5).show(4)

+--------------------+---------+----------+----+-----+---+
|            location|     size|total_sqft|bath|price|bhk|
+--------------------+---------+----------+----+-----+---+
|         Electron...|    2 BHK|    1056.0|   2|39.07|  2|
|  Chikka Tirupath...|4 Bedroom|    2600.0|   5|120.0|  4|
|       Uttarahalli  |    3 BHK|    1440.0|   2| 62.0|  3|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|
+--------------------+---------+----------+----+-----+---+
only showing top 4 rows

In [43]:
df5.shape()

(13246, 6)

In [44]:
df5.filter(f.isnull("total_sqft")).count()

46

In [45]:
df5.filter("total_sqft is null").count()

46

In [46]:
df5.filter(f.isnull("total_sqft") == False).count()

13200

In [47]:
df6=df5.filter(f.isnull("total_sqft") == False)

In [48]:
df6.shape()

(13200, 6)

In [49]:
df6.show(4)

+--------------------+---------+----------+----+-----+---+
|            location|     size|total_sqft|bath|price|bhk|
+--------------------+---------+----------+----+-----+---+
|         Electron...|    2 BHK|    1056.0|   2|39.07|  2|
|  Chikka Tirupath...|4 Bedroom|    2600.0|   5|120.0|  4|
|       Uttarahalli  |    3 BHK|    1440.0|   2| 62.0|  3|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|
+--------------------+---------+----------+----+-----+---+
only showing top 4 rows

In [50]:
df7 = df6.withColumn("price_per_sqft", f.round(df6.price * 100000 / df6.total_sqft,3))   #df6['price']*100000/df6['total_sqft']

In [51]:
df7.show(5)

+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+---------+----------+----+-----+---+--------------+
|         Electron...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|
|  Chikka Tirupath...|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|
|       Uttarahalli  |    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|      6245.891|
|            Kothanur|    2 BHK|    1200.0|   2| 51.0|  2|        4250.0|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 5 rows

In [52]:
stats=df7.describe("price_per_sqft")

In [53]:
stats.show()

+-------+------------------+
|summary|    price_per_sqft|
+-------+------------------+
|  count|             13200|
|   mean|7920.7591506060635|
| stddev|106727.15520919272|
|    min|            267.83|
|    max|             1.2E7|
+-------+------------------+

In [54]:
loc_remove_space=df7.withColumn("locations",f.ltrim(f.rtrim(df1.location)))   #df7.location.apply(lambda x: x.strip())

In [55]:
loc_remove_space.show(4)

+--------------------+---------+----------+----+-----+---+--------------+--------------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|           locations|
+--------------------+---------+----------+----+-----+---+--------------+--------------------+
|         Electron...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|Electronic City P...|
|  Chikka Tirupath...|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|    Chikka Tirupathi|
|       Uttarahalli  |    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|         Uttarahalli|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|      6245.891|  Lingadheeranahalli|
+--------------------+---------+----------+----+-----+---+--------------+--------------------+
only showing top 4 rows

In [56]:
loc_remove_space.shape()

(13200, 8)

In [57]:
#df8=df7.withColumn("location",f.regexp_replace("location",'^\s+$','')) 

df8=df7.withColumn("location",f.ltrim(f.rtrim(df1.location)))

In [58]:
df8.shape()

(13200, 7)

In [59]:
df8.select("location",f.length("location")).show(6)

+--------------------+----------------+
|            location|length(location)|
+--------------------+----------------+
|Electronic City P...|              24|
|    Chikka Tirupathi|              16|
|         Uttarahalli|              11|
|  Lingadheeranahalli|              18|
|            Kothanur|               8|
|          Whitefield|              10|
+--------------------+----------------+
only showing top 6 rows

In [60]:
df8.orderBy("location").groupBy("location").count().show(8)

+--------------------+-----+
|            location|count|
+--------------------+-----+
|   1 Annasandrapalya|    1|
|        1 Giri Nagar|    1|
|       1 Immadihalli|    1|
|  1 Ramamurthy Nagar|    1|
|12th cross sriniv...|    1|
|1A Block Koramangala|    1|
|       1Channasandra|    1|
|      1Hanuman Nagar|    1|
+--------------------+-----+
only showing top 8 rows

In [61]:
from pyspark.sql.functions import desc

location_stats = df8.groupBy("location").count().sort(desc("count"))

location_stats.show(10)

+--------------------+-----+
|            location|count|
+--------------------+-----+
|          Whitefield|  533|
|      Sarjapur  Road|  392|
|     Electronic City|  304|
|      Kanakpura Road|  264|
|         Thanisandra|  235|
|           Yelahanka|  210|
|         Uttarahalli|  186|
|              Hebbal|  176|
|        Marathahalli|  175|
|Raja Rajeshwari N...|  171|
+--------------------+-----+
only showing top 10 rows

In [62]:
location_stats.printSchema()

root
 |-- location: string (nullable = true)
 |-- count: long (nullable = false)

In [63]:
location_stats.where("count <= 10").show(5)

+--------------------+-----+
|            location|count|
+--------------------+-----+
|       Naganathapura|   10|
|    Dodsworth Layout|   10|
|        Gunjur Palya|   10|
|Nagappa Reddy Layout|   10|
|            Basapura|   10|
+--------------------+-----+
only showing top 5 rows

In [64]:
location_stats_less_than_10 = location_stats.where("count <= 10")

location_stats_less_than_10.sort(desc("count")).show(5)  

#location_stats_less_than_10.sort("count").show()

+--------------------+-----+
|            location|count|
+--------------------+-----+
|       Naganathapura|   10|
|    Dodsworth Layout|   10|
|        Gunjur Palya|   10|
|Nagappa Reddy Layout|   10|
|            Basapura|   10|
+--------------------+-----+
only showing top 5 rows

In [65]:
location_10 = location_stats_less_than_10.select("location")
location_10.show(4)

+--------------------+
|            location|
+--------------------+
|        Gunjur Palya|
|    Dodsworth Layout|
|            Basapura|
|Nagappa Reddy Layout|
+--------------------+
only showing top 4 rows

In [66]:
#df8.join(location_stats_less_than_10, df8.location == location_stats_less_than_10.location).count()

df8.join(location_10, df8.location == location_10.location).count()

2872

In [67]:
type(location_stats_less_than_10)

pyspark.sql.dataframe.DataFrame

In [68]:
loca=location_10.select("location").rdd.flatMap(lambda x: x).collect()  

print(len(loca))
print(type(loca))

1047
<class 'list'>

In [69]:
#lambda x: 'other' if x in location_stats_less_than_10 else x)

def loc_stats_lt_10(x):
    if x in loca:
            return 'Other'
    else:
        return x

In [70]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

loc_stats_lt_10 = spark.udf.register("loc_stats_lt_10", loc_stats_lt_10)

#b=df8.select('size','total_sqft','bath','price','bhk','price_per_sqft',loc_stats_lt_10(col("location")).alias('new_loc'))

b=df8.withColumn('new_loc',loc_stats_lt_10(col("location")))

In [71]:
b.shape()

(13200, 8)

In [72]:
#b.where("new_loc = 'Other' ").groupBy("new_loc").count().sort(desc("count")).show()

b.groupBy("new_loc").count().sort(desc("count")).show(5)

+---------------+-----+
|        new_loc|count|
+---------------+-----+
|          Other| 2872|
|     Whitefield|  533|
| Sarjapur  Road|  392|
|Electronic City|  304|
| Kanakpura Road|  264|
+---------------+-----+
only showing top 5 rows

In [73]:
b.show(5)

+--------------------+---------+----------+----+-----+---+--------------+--------------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|             new_loc|
+--------------------+---------+----------+----+-----+---+--------------+--------------------+
|Electronic City P...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|Electronic City P...|
|    Chikka Tirupathi|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|    Chikka Tirupathi|
|         Uttarahalli|    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|         Uttarahalli|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|      6245.891|  Lingadheeranahalli|
|            Kothanur|    2 BHK|    1200.0|   2| 51.0|  2|        4250.0|            Kothanur|
+--------------------+---------+----------+----+-----+---+--------------+--------------------+
only showing top 5 rows

In [74]:
df9=df8.withColumn('location',loc_stats_lt_10(col("location")))
df9.shape()

(13200, 7)

In [75]:
df9.show(5)

+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+---------+----------+----+-----+---+--------------+
|Electronic City P...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|
|    Chikka Tirupathi|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|
|         Uttarahalli|    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|      6245.891|
|            Kothanur|    2 BHK|    1200.0|   2| 51.0|  2|        4250.0|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 5 rows

In [76]:
df9.where((df9.total_sqft/df9.bhk)<300).show(5)

+-------------------+---------+----------+----+-----+---+--------------+
|           location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+-------------------+---------+----------+----+-----+---+--------------+
|              Other|6 Bedroom|    1020.0|   6|370.0|  6|      36274.51|
|         HSR Layout|8 Bedroom|     600.0|   9|200.0|  8|     33333.333|
|      Murugeshpalya|6 Bedroom|    1407.0|   4|150.0|  6|     10660.981|
|Devarachikkanahalli|8 Bedroom|    1350.0|   7| 85.0|  8|      6296.296|
|              Other|3 Bedroom|     500.0|   3|100.0|  3|       20000.0|
+-------------------+---------+----------+----+-----+---+--------------+
only showing top 5 rows

In [77]:
wrong_bhk=df9.where((df9.total_sqft/df9.bhk)<300)
wrong_bhk.shape()

(744, 7)

In [78]:
wrong_bhk.show(5)

+-------------------+---------+----------+----+-----+---+--------------+
|           location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+-------------------+---------+----------+----+-----+---+--------------+
|              Other|6 Bedroom|    1020.0|   6|370.0|  6|      36274.51|
|         HSR Layout|8 Bedroom|     600.0|   9|200.0|  8|     33333.333|
|      Murugeshpalya|6 Bedroom|    1407.0|   4|150.0|  6|     10660.981|
|Devarachikkanahalli|8 Bedroom|    1350.0|   7| 85.0|  8|      6296.296|
|              Other|3 Bedroom|     500.0|   3|100.0|  3|       20000.0|
+-------------------+---------+----------+----+-----+---+--------------+
only showing top 5 rows

In [79]:
df10=df9.where((df9.total_sqft/df9.bhk)>=300)

In [80]:
df10.shape()

(12456, 7)

In [81]:
df10.show(5)

+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+---------+----------+----+-----+---+--------------+
|Electronic City P...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|
|    Chikka Tirupathi|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|
|         Uttarahalli|    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|      6245.891|
|            Kothanur|    2 BHK|    1200.0|   2| 51.0|  2|        4250.0|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 5 rows

In [82]:
df10.describe("price_per_sqft").show()

+-------+-----------------+
|summary|   price_per_sqft|
+-------+-----------------+
|  count|            12456|
|   mean|6308.502826509315|
| stddev|4168.127334552693|
|    min|           267.83|
|    max|       176470.588|
+-------+-----------------+

In [83]:
df10.where("price_per_sqft < 400").show()

+---------+---------+----------+----+-----+---+--------------+
| location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+---------+---------+----------+----+-----+---+--------------+
|Yelahanka|    3 BHK|   35000.0|   3|130.0|  3|       371.429|
|    Other|3 Bedroom|   52272.0|   2|140.0|  3|        267.83|
+---------+---------+----------+----+-----+---+--------------+

In [84]:
df10.printSchema()

root
 |-- location: string (nullable = true)
 |-- size: string (nullable = true)
 |-- total_sqft: string (nullable = true)
 |-- bath: integer (nullable = true)
 |-- price: double (nullable = true)
 |-- bhk: string (nullable = true)
 |-- price_per_sqft: double (nullable = true)

In [85]:
#schema = StructType([])

schema = StructType([StructField("location", StringType(), True),
                     StructField("size", StringType(), True),
                     StructField("total_sqft", StringType(), True),
                     StructField("bath", IntegerType(), True), 
                     StructField("price", DoubleType(), True),
                     StructField("bhk", StringType(), True),
                     StructField("price_per_sqft", DoubleType(), True)])
    
df_out = spark.createDataFrame(sc.emptyRDD(), schema)

In [86]:
df_out.show()

+--------+----+----------+----+-----+---+--------------+
|location|size|total_sqft|bath|price|bhk|price_per_sqft|
+--------+----+----------+----+-----+---+--------------+
+--------+----+----------+----+-----+---+--------------+

In [87]:
df_out.unionByName(df10).show(5)

+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+---------+----------+----+-----+---+--------------+
|Electronic City P...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|
|    Chikka Tirupathi|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|
|         Uttarahalli|    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|      6245.891|
|            Kothanur|    2 BHK|    1200.0|   2| 51.0|  2|        4250.0|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 5 rows

In [88]:
import numpy as np

m = df10.select(mean(col('price_per_sqft'))).collect()
st = df10.select(stddev(col('price_per_sqft'))).collect()
#reduced_df = df10.where("price_per_sqft>(m-st) and price_per_sqft<=(m+st)")

print(m," === ",st)

[Row(avg(price_per_sqft)=6308.502826509315)]  ===  [Row(stddev_samp(price_per_sqft)=4168.127334552693)]

In [89]:
from pyspark.sql.functions import mean as mn, stddev as std, col

df_stats = df10.select(mn(col('price_per_sqft')).alias('mean'),std(col('price_per_sqft')).alias('std')).collect()
print(df_stats)

m = df_stats[0]['mean']
st = df_stats[0]['std']

print(m," === ",st)
a=(m-st)
b=(m+st)
   
print(a," === ",b)
print(type(a)," === ",type(b))

reduced_df = df10.filter((col("price_per_sqft")>lit(a))  & (col("price_per_sqft") <= lit(b)))


reduced_df.show(3)
#reduced_df = df10.where("price_per_sqft >a")  # & col("price_per_sqft")<=b)

[Row(mean=6308.502826509315, std=4168.127334552693)]
6308.502826509315  ===  4168.127334552693
2140.3754919566218  ===  10476.630161062008
<class 'float'>  ===  <class 'float'>
+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+---------+----------+----+-----+---+--------------+
|Electronic City P...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|
|    Chikka Tirupathi|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|
|         Uttarahalli|    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 3 rows

In [90]:
df_st = df10.select(mn(col('price_per_sqft')).alias('mean'),
                    std(col('price_per_sqft')).alias('std')).rdd.flatMap(lambda x: x).collect()  
print(df_st)

[6308.502826509315, 4168.127334552693]

In [91]:
reduced_df.shape()

(11294, 7)

In [92]:
reduced_df.sort("price_per_sqft").show(4)
#reduced_df.orderBy("price_per_sqft").show()

+--------------------+-----+----------+----+-----+---+--------------+
|            location| size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+-----+----------+----+-----+---+--------------+
|               Other|1 BHK|    2559.0|   1| 55.0|  1|      2149.277|
|Electronic City P...|2 BHK|    1300.0|   2| 28.0|  2|      2153.846|
|     Electronic City|2 BHK|     880.0|   2| 19.0|  2|      2159.091|
|          Chandapura|2 BHK|     850.0|   1| 18.5|  2|      2176.471|
+--------------------+-----+----------+----+-----+---+--------------+
only showing top 4 rows

In [93]:
#df10.filter("location='Yelahanka' and bhk=3 ").sort(desc("price_per_sqft")).show(12)
reduced_df.filter("location='Yelahanka' and bhk=3 ").sort(("price_per_sqft")).show(12)

+---------+-----+----------+----+-----+---+--------------+
| location| size|total_sqft|bath|price|bhk|price_per_sqft|
+---------+-----+----------+----+-----+---+--------------+
|Yelahanka|3 BHK|    1075.0|   2|33.53|  3|       3119.07|
|Yelahanka|3 BHK|    1075.0|   2| 36.0|  3|      3348.837|
|Yelahanka|3 BHK|    1590.0|   2| 54.0|  3|      3396.226|
|Yelahanka|3 BHK|    1590.0|   3| 54.0|  3|      3396.226|
|Yelahanka|3 BHK|    1590.0|   2| 54.0|  3|      3396.226|
|Yelahanka|3 BHK|    1282.0|   2| 48.7|  3|      3798.752|
|Yelahanka|3 BHK|    1756.0|   3|66.73|  3|      3800.114|
|Yelahanka|3 BHK|    1381.0|   2|52.48|  3|      3800.145|
|Yelahanka|3 BHK|    1282.0|   2|48.72|  3|      3800.312|
|Yelahanka|3 BHK|    1282.0|   2|48.72|  3|      3800.312|
|Yelahanka|3 BHK|    1484.0|   2| 56.4|  3|      3800.539|
|Yelahanka|3 BHK|    1355.0|   2| 51.5|  3|      3800.738|
+---------+-----+----------+----+-----+---+--------------+
only showing top 12 rows

In [94]:
df10.createOrReplaceTempView("df10")
location_10.createOrReplaceTempView("location_10")

In [95]:
spark.sql("show tables").show()

+--------+-----------+-----------+
|database|  tableName|isTemporary|
+--------+-----------+-----------+
|        |       df10|       true|
|        |location_10|       true|
+--------+-----------+-----------+

In [96]:
spark.sql("select * from df10 ").show(5)

+--------------------+---------+----------+----+-----+---+--------------+
|            location|     size|total_sqft|bath|price|bhk|price_per_sqft|
+--------------------+---------+----------+----+-----+---+--------------+
|Electronic City P...|    2 BHK|    1056.0|   2|39.07|  2|      3699.811|
|    Chikka Tirupathi|4 Bedroom|    2600.0|   5|120.0|  4|      4615.385|
|         Uttarahalli|    3 BHK|    1440.0|   2| 62.0|  3|      4305.556|
|  Lingadheeranahalli|    3 BHK|    1521.0|   3| 95.0|  3|      6245.891|
|            Kothanur|    2 BHK|    1200.0|   2| 51.0|  2|        4250.0|
+--------------------+---------+----------+----+-----+---+--------------+
only showing top 5 rows

In [97]:
spark.sql("select count(*) from df10 limit 10").show(5)

+--------+
|count(1)|
+--------+
|   12456|
+--------+

In [98]:
spark.sql("select count(distinct location) from location_10").show(3)

+------------------------+
|count(DISTINCT location)|
+------------------------+
|                    1047|
+------------------------+