In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('glassdoor_jobs_data.csv')
df.head(3)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1

In [3]:
df.shape

(956, 15)

In [4]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [5]:
#  See the job description of first row
df.iat[0,3]                                   # it takes index location 
df.at[0,"Job Description"]                    # it takes column name
df.iloc[0,3]                                  # it takes index location

'Data Scientist\r\nLocation: Albuquerque, NM\r\nEducation Required: Bachelor’s degree required, preferably in math, engineering, business, or the sciences.\r\nSkills Required:\r\nBachelor’s Degree in relevant field, e.g., math, data analysis, database, computer science, Artificial Intelligence (AI); three years’ experience credit for Master’s degree; five years’ experience credit for a Ph.D\r\nApplicant should be proficient in the use of Power BI, Tableau, Python, MATLAB, Microsoft Word, PowerPoint, Excel, and working knowledge of MS Access, LMS, SAS, data visualization tools, and have a strong algorithmic aptitude\r\nExcellent verbal and written communication skills, and quantitative analytical skills are required\r\nApplicant must be able to work in a team environment\r\nU.S. citizenship and ability to obtain a DoD Secret Clearance required\r\nResponsibilities: The applicant will be responsible for formulating analytical solutions to complex data problems; creating data analytic models to improve data metrics; analyzing customer behavior and trends; delivering insights to stakeholders, as well as designing and crafting reports, dashboards, models, and algorithms to make data insights actionable; selecting features, building and optimizing classifiers using machine learning techniques; data mining using state-of-the-art methods, extending organization’s data with third party sources of information when needed; enhancing data collection procedures to include information that is relevant for building analytic systems; processing, cleansing, and verifying the integrity of data used for analysis; doing ad-hoc analysis and presenting results in a clear manner; and creating automated anomaly detection systems and constant tracking of its performance.\r\nBenefits:\r\nWe offer competitive salaries commensurate with education and experience. We have an excellent benefits package that includes:\r\nComprehensive health, dental, life, long and short term disability insurance\r\n100% Company funded Retirement Plans\r\nGenerous vacation, holiday and sick pay plans\r\nTuition assistance\r\n\r\nBenefits are provided to employees regularly working a minimum of 30 hours per week.\r\n\r\nTecolote Research is a private, employee-owned corporation where people are our primary resource. Our investments in technology and training give our employees the tools to ensure our clients are provided the solutions they need, and our very high employee retention rate and stable workforce is an added value to our customers. Apply now to connect with a company that invests in you.'

In [6]:
# Now start Salary parsing

In [7]:
# we need to change the salary estimate which is per hour
df[df['Salary Estimate'].apply(lambda x : 'per hour' in x.lower())].head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
197,197,Medical Lab Scientist,$17-$24 Per Hour(Glassdoor est.),Overview\r\n\r\nAbout\r\n\r\n\r\nTower Health ...,3.6,Tower Health\r\n3.6,"West Reading, PA","Reading, PA",5001 to 10000 employees,2017,Nonprofit Organization,Health Care Services & Hospitals,Health Care,Unknown / Non-Applicable,-1
209,209,MED TECH/LAB SCIENTIST - LABORATORY,$21-$34 Per Hour(Glassdoor est.),Evening: 3P-1130P or Night Shift 11P-730A\r\n\...,3.6,Beebe Healthcare\r\n3.6,"Lewes, DE","Lewes, DE",1001 to 5000 employees,1935,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$100 to $500 million (USD),-1

In [8]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)

In [9]:
df.hourly.value_counts()

0    932
1     24
Name: hourly, dtype: int64

In [10]:
# we need to change the salary estimate if employer provided salary
df[df['Salary Estimate'].apply(lambda x : 'employer provided salary' in x.lower())].head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly
48,48,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\r\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0
161,161,Data Engineer,Employer Provided Salary:$120K-$145K,"Location: Tampa, FL\r\nTitle: Data Engineer\r\...",5.0,Gridiron IT\r\n5.0,"Tampa, FL","Reston, VA",51 to 200 employees,2017,Company - Private,IT Services,Information Technology,Unknown / Non-Applicable,-1,0

In [11]:
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer provided salary:' in x.lower() else 0)

In [12]:
df.employer_provided.value_counts()

0    939
1     17
Name: employer_provided, dtype: int64

In [13]:
df[df['Salary Estimate'] == '-1'].head(2)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided
24,24,Data Scientist,-1,JOB CATEGORY:\r\n\r\nInformation Services\r\n\...,3.9,Mars\r\n3.9,Oregon,"Mc Lean, VA",10000+ employees,1911,Company - Private,Food & Beverage Manufacturing,Manufacturing,$10+ billion (USD),-1,0,0
42,42,Data Scientist,-1,Take your career to new heights working with a...,4.1,Amount\r\n4.1,"Chicago, IL","Chicago, IL",201 to 500 employees,2015,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,0,0

In [14]:
df[df['Salary Estimate'] == '-1'].shape

(214, 17)

In [15]:
# we need to remove those record which salary is -1
df1 = df[df['Salary Estimate'] != '-1']

In [16]:
df = df[df['Salary Estimate'] != '-1']

In [17]:
print(df1.shape)
print(df.shape)

(742, 17)
(742, 17)

In [18]:
df.iat[0,2]

'$53K-$91K (Glassdoor est.)'

In [19]:
# parse and clean the salary after removing space, (, ), and $    
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [20]:
salary.head(3)

0     $53K-$91K
1    $63K-$112K
2     $80K-$90K
Name: Salary Estimate, dtype: object

In [21]:
salary.value_counts()

$21-$34 Per Hour    6
$86K-$143K          6
$54K-$115K          6
$49K-$113K          6
$81K-$167K          5
                   ..
$115K-$180K         1
$43K-$81K           1
$70K-$118K          1
$69K-$119K          1
$105K-$173K         1
Name: Salary Estimate, Length: 416, dtype: int64

In [22]:
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [23]:
minus_Kd.head(3)

0     53-91
1    63-112
2     80-90
Name: Salary Estimate, dtype: object

In [24]:
minus_Kd[minus_Kd.apply(lambda x : 'per hour' in x.lower())].head(3)

197    17-24 Per Hour
209    21-34 Per Hour
240    18-25 Per Hour
Name: Salary Estimate, dtype: object

In [25]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [26]:
min_hr.head(3)

0     53-91
1    63-112
2     80-90
Name: Salary Estimate, dtype: object

In [27]:
print(df.shape)
print(min_hr.shape)

(742, 17)
(742,)

In [28]:
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

In [29]:
df['avg_salary'] = (df.min_salary+df.max_salary)/2

In [30]:
df.head(3)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\r\nLocation: Albuquerque, NM\r\...",3.8,Tecolote Research\r\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\r\n\r\nI. General Summary\r\...,3.4,University of Maryland Medical System\r\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\r\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0

In [31]:
#Company name text only
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3], axis = 1)

In [32]:
#state field 
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])
df.job_state.value_counts()

 CA             151
 MA             103
 NY              72
 VA              41
 IL              40
 MD              35
 PA              33
 TX              28
 NC              21
 WA              21
 NJ              17
 FL              16
 OH              14
 TN              13
 DC              11
 CO              11
 WI              10
 IN              10
 UT              10
 AZ               9
 MO               9
 AL               8
 KY               6
 DE               6
 MI               6
 GA               6
 CT               5
 IA               5
 LA               4
 NE               4
 OR               4
 NM               3
 KS               3
 ID               2
 MN               2
 RI               1
 SC               1
 Los Angeles      1
Name: job_state, dtype: int64

In [33]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis = 1)

In [34]:
#age of company 
df['age'] = df.Founded.apply(lambda x: x if x <1 else (2020 - x))

In [35]:
df[df.Founded<1].head(3)

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,hourly,employer_provided,min_salary,max_salary,avg_salary,company_txt,job_state,same_state,age
43,43,Data Engineer,$68K-$129K (Glassdoor est.),Position Title: Data Engineer\r\n\r\nPersivia ...,3.6,Persivia\r\n3.6,"Marlborough, MA","Lowell, MA",1 to 50 employees,-1,...,-1,0,0,68,129,98.5,Persivia\r\n,MA,0,-1
48,48,Data Scientist,Employer Provided Salary:$150K-$160K,"BPA Services, LLC is seeking a Computer/Data S...",5.0,BPA Services\r\n5.0,"Washington, DC","Alexandria, VA",Unknown,-1,...,-1,0,1,150,160,155.0,BPA Services\r\n,DC,0,-1
76,76,Data Scientist,$96K-$161K (Glassdoor est.),SummaryProvide data management and statistical...,3.2,"Numeric, LLC\r\n3.2","Philadelphia, PA","Chadds Ford, PA",1 to 50 employees,-1,...,-1,0,0,96,161,128.5,"Numeric, LLC\r\n",PA,0,-1

In [36]:
#python requirement for job
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python_yn.value_counts()

1    392
0    350
Name: python_yn, dtype: int64

In [37]:
#r studio 
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)
df.R_yn.value_counts()

0    740
1      2
Name: R_yn, dtype: int64

In [38]:
#spark 
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    575
1    167
Name: spark, dtype: int64

In [39]:
#aws 
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    566
1    176
Name: aws, dtype: int64

In [40]:
#excel
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

1    388
0    354
Name: excel, dtype: int64

In [43]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'company_txt', 'job_state', 'same_state', 'age', 'python_yn', 'R_yn',
       'spark', 'aws', 'excel'],
      dtype='object')

In [45]:
df_out = df.drop(['Unnamed: 0'], axis =1)

df_out.to_csv('salary_data_cleaned.csv',index = False)